<html>
  <head>
    <%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track' => true %>
    <%= form_for(@room) do |f| %>
  </head>
  <body>
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
  
        <ul>
        <% @room.errors.full_messages.each do |message| %>
          <center><%= message %></center>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.text_field :name, placeholder: 'Nome'%>
    </div>
    
    <br>
    <div class="field">
      <%= f.text_field :players, placeholder: 'Número de Jogadores' %>
    </div>
    
    <br>
    <div class="field">
      <%= f.text_area :playersname, placeholder: 'Nome dos Jogadores (a, b)', cols: 60, rows: 5%>
    </div>
    <br>
    <div class="field">
      <%= f.check_box :refreshauto %> Refresh Automatico
    </div>
    <div class="field">
      <%= f.check_box :bloqcartarepet %> Bloqueia Atualização de Carta
    </div>
    
  <p>
    <strong>Usuário Criador:</strong>
    <%= @room.user || 'Sem Usuário' %>
  </p>
    
    <br>
    <button type="submit" class="btn btn-success">Salvar</button>
    <br>
    <br>
    <%= link_to 'Voltar', rooms_path %>
    <br>
    <br>
    
    
    <% end %>
  </body>
</html>