<html>
  <head>
    <%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track' => true %>
    <%= form_for(@room) do |f| %>
  </head>
  <body>
    
    <script>
      $(document).ready(function() { $("#room_selectuser").select2(); });
    </script>
    
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
  
        <ul>
        <% @room.errors.full_messages.each do |message| %>
          <center><%= message %></center>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="w3-card-4 w3-round-large" style="width:70%; margin-left: 20%; background-color: #034F84; ">
      <br>
        <div class="field">
          <%= f.text_field :name, placeholder: 'Nome'%>
        </div>
        
        <br>
        <div class="field">
          <%= f.select(:players, ["Número de Jogadores" , 0, 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30 ], {}) %>
        </div>
        
        <br>
        
          <div class="field"  style="width: 35%; margin-left:30%; ">
            
            <div syle="float:right;">Refresh Automatico:
            <label class="switch">
            <%= f.check_box :refreshauto %> <span class="slider round"> </span>
            </label>
            </div>
            
            <div syle="float:left;">
            Bloqueia Atualização de Carta:
            <label class="switch">
            <%= f.check_box :bloqcartarepet %> 
            <span class="slider round"></span>
            </label>
            </div>
            
          </div>
          <br>
    
        <div class="w3-card-4 w3-round-large" style="width: 70%; margin-left: 15%; background-color: white; ">
          <br>
          <div class="field">
            <div id="playersname" class="field">
              <%= f.text_area :playersname, disabled: true, placeholder: 'Selecione os jogadores abaixo', cols: 60, rows: 5, :id => 'textroom_playersname'%></div>
              <%= f.select :selectuser, User.all.collect {|p| [ p.name ]}.sort{|a, b| a[0] <=> b[0]} %>
    
              <button type="button" onclick="AddUsuarioSala()"><i class="fa fa-plus"></i></button>
              <button type="button" onclick="RemoveUsuarioSala()"><i class="fa fa-minus"></i></button>
              <button type="button" onclick="RemoveTodos()"><i class="fa fa-trash-o"></i></button>
              <br>
              <br>
          </div>
        </div>
      
    
      <p>
      <br>
      <strong style="color: white;">Usuário Responsável:</strong>
      <div class="responsavel">
        <%= f.select(:user, User.all.collect {|p| [ p.name] }, { include_blank: 'Sem Usuário' }) %>
      </div>
      </p>
      <br>
    </div>
    
    <br>
    <button type="submit" class="btn btn-success" onclick="AtivaCampo()">Salvar</button>
    <br>
    <br>
    <%= link_to 'Voltar', rooms_path %>
    <br>
    <br>
    <% end %>
  </body>
</html>