<html>
  <head>
    <%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track' => true %>
    <%= form_for(@room) do |f| %>
  </head>
  <body>
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
  
        <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.label :Nome %>
      <%= f.text_field :name %>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
    
    <% end %>
  </body>
</html>