<html>
  <head>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div>
      
      <% if @requerLogin == 'Só é possível jogar se estiver logado.' %>
        <script>
          $.notify('Só é possível jogar se estiver logado.' ,"info");    
        </script>
      <% end %>
      <br>
      
      <h3>Salas Disponíveis</h3>
      <br>
      <h4 id="notice" style="color: green;"><%= notice %></h4>
      <center>
        
        <% if @rooms.first.present? %>
          <table id="center" class="w3-card w3-hoverable" >
            
            <thead id="cabecalho">
              <td> Nome </td>
              <td> Jogadores </td>
              <td colspan=4> Ações </td>
          </thead>
            <tbody>
              <% @rooms.each do |room| %>
                <tr>
                  <td><%= room.name %></td>
                  <td><%= room.players %></td> 
                  <td><%= link_to pokers_path(sala: room.id) do %>Entrar</i> <% end %></td>
                  <%if room.user == "" || (current_user != nil && (room.user.include?current_user.name))%> 
                    <td><%= link_to edit_room_path(room) do %><i class="fa fa-pencil-square-o"></i><% end %></td>
                    <td><%= link_to room, method: :delete, data:{confirm: "Apagar sala?"} do %><i class="fa fa-trash"></i><% end %></td>
                    <td><%= link_to poker_path(:id => 1, :sala => room.id, :apagouPorFora => true), data:{confirm: "Apagar as Cartas de dentro da sala?"}, :method => :delete  do %><i class="fa fa-eraser"></i><% end %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </center>
      <br/>
      <br/>
      <br/>
      <div style="float:left; margin-left:20%"><%= link_to 'Todas as Salas', rooms_path %></div>
      <div style="float:left; margin-left:20%"><%= link_to 'Salas que posso jogar', rooms_path(:filtrado => 1)%></div>
      <div style="float:left; margin-left:20%"><%= link_to 'Nova Sala', new_room_path %></div>
    </div>
  </body>
</html>