<html>
  <head>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div>

      <% if @requerLogin == 1 %>
        <script>
          $.notify('Só é possível jogar se estiver logado.' ,"info");
        </script>
      <% end %>
      <br>
      
      <h3>Salas Disponíveis</h3>
      <%= link_to 'Todas as Salas', rooms_path , class: "waves-effect waves-light btn" %>
      <%= link_to 'Salas que posso jogar', rooms_path(:filtrado => 1), class: "waves-effect waves-light btn" %>
      <%= link_to 'Nova Sala', new_room_path, class: "waves-effect waves-light btn" %>
      <br>
      <h4 id="notice" style="color: green;"><%= notice %></h4>
      <center>
        <% if @rooms.first.present? %>
          <table class=" centered highlight"> 
            <thead>
                <td></td>
                <td></td>
                <td style="position: center;" colspan=4> </t>
            </thead>
            <tbody>
              <% @rooms.each do |room| %>
                <tr>
                  <td><%= room.name %></td>
                  <td><%= room.players %></td> 
                  
                  <td>
                    <%= link_to pokers_path(sala: room.id), class: "waves-effect waves btn blue darken-3" do %>
                      <i class="material-icons right">send</i>
                    <% end %>
                  </td>
                  
                  
                  <%if room.user == "" || (current_user != nil && (room.user.include?current_user.name))%> 
                    <td>
                      <%= link_to edit_room_path(room), class: "waves-effect waves btn blue darken-3" do %>
                        <i class="material-icons right">create</i>
                      <% end %>
                    </td>

                    <td>
                      <%= link_to room, method: :delete, data:{confirm: "Apagar sala?"}, class: "waves-effect waves btn red darken-4" do %>
                        <i class="material-icons right">delete</i>
                      <% end %>
                    </td>

                    <td>
                      <%= link_to poker_path(:id => 1, :sala => room.id, 
                                                       :apagou_por_fora => true), 
                                                       data:{confirm: "Apagar as Cartas de dentro da sala?"}, 
                                                       :method => :delete,
                                                       class: "waves-effect waves btn red darken-4" do %>
                      <i class="material-icons right">clear</i>
                      <% end %>
                    </td>
                  
                  
                  <% end %>


                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </center>
      <br/>
      <br/>
      <br/>
    </div>
  </body>
</html>


<style lang="css">


</style>