    <%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track' => true %>
    
    <p id="notice"><% notice %></p>
    
    <% if (@sala.bloqcartarepet)%> <p style="font-size: 12px; color: red;">Você não tem permissão para atualizar cartas, jogue consciente!</p> <% end %>
    
    <% if @cartarepetida.to_i == 1 && @sala.bloqcartarepet == false %>
      <script>
        $.notify("Atualizamos sua carta!","info");    
      </script>
    <% elsif notice == 'CartaOk' %>
      <script>
        $.notify("Sua carta foi registrada com sucesso!","success");    
      </script>
    <% elsif @cartarepetida.to_i == -1 %>
      <script>
        $.notify("Você já tem uma carta cadastrada!","error");    
      </script>
    <% end %>
    <br>
    
    
    
    <% carta05 = "card05.jpg" %>
    <% carta1 = "card1.jpg" %>
    <% carta2 = "card2.jpg" %>
    <% carta3 = "card3.jpg" %>
    <% carta5 = "card5.jpg" %>
    <% carta8 = "card8.jpg" %>
    <% carta13 = "card13.jpg" %>
    <% carta20 = "card20.jpg" %>
    <% carta40 = "card40.jpg" %>
    <% carta100 = "card100.jpg" %>
    <% cartaCoffee = "cardCoffee.jpg" %>
    <% cartaNEntendi = "cardNEntendi.jpg" %>
    
    <% if !current_user %>
      <% usuario = 'Sem Usuário' %>
    <% else %>
      <% usuario = current_user.name.to_s.force_encoding("UTF-8") %>
    <%end%>
    

    <center>
      <table>
        <tr>
          <td class= "card" align=center><%= link_to_image(carta05, pokers_create_path(:poker => {:value => 0.5, :user => usuario, :room => @salaAtual }, sala: @salaAtual) , method: :post)%></td>
          <td class= "card" align=center><%= link_to_image(carta1, pokers_create_path(:poker => {:value => 1, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "card" align=center><%= link_to_image(carta2, pokers_create_path(:poker => {:value => 2, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "card" align=center><%= link_to_image(carta3, pokers_create_path(:poker => {:value => 3, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
        </tr>
        <tr>
          <td class= "card" align=center><%= link_to_image(carta5, pokers_create_path(:poker => {:value => 5, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "card" align=center><%= link_to_image(carta8, pokers_create_path(:poker => {:value => 8, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "card" align=center><%= link_to_image(carta13, pokers_create_path(:poker => {:value => 13, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "cardAlta" align=center><%= link_to_image(carta20, pokers_create_path(:poker => {:value => 20, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
        </tr>
        <tr>
          <td class= "cardAlta" align=center><%= link_to_image(carta40, pokers_create_path(:poker => {:value => 40, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "cardAlta" align=center><%= link_to_image(carta100, pokers_create_path(:poker => {:value => 100, :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "cardNEntendi"align=center><%= link_to_image(cartaNEntendi, pokers_create_path(:poker => {:name => 'Não Entendi', :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
          <td class= "cardPausa" align=center><%= link_to_image(cartaCoffee, pokers_create_path(:poker => {:name => 'Pausa', :user => usuario, :room => @salaAtual} , sala: @salaAtual) , method: :post)%></td>
        </tr>
      </table>
    </center>
    <br/>
    <br/>

    <!-- % if @minhaCarta %>
      <center>
        <div class="w3-card-4 w3-indigo" style="width: 15%;"> 
          <div class="w3-container">
            <p class="w3-text-white"><%= "Carta Jogada: " + @minhaCarta.to_s %></p>
          </div>
        </div>
      </center>
    <%#end%>
    <br/>
    -->
    <%= link_to 'Voltar', pokers_path(sala: @salaAtual), method: :get%>
