    <%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track' => true %>
    
    <p id="notice"><% notice %></p>
    
    <% if @cartarepetida.to_i == 1 %>
      <script>
        $.notify("Sua carta foi atualizada!","info");    
      </script>
    <% elsif notice == 'CartaOk' %>
      <script>
        $.notify("Sua carta foi registrada!","success");    
      </script>
    <% elsif @cartarepetida.to_i == -1 %>
      <script>
        $.notify("As cartas jรก foram viradas","error");    
      </script>
    <% end %>
    <br>
    
    
    <% if @sala.card == "Fibonacci 20,40,100"%>
      <%= render "pokers/cards/fibonacci2040100"%>
    <% elsif @sala.card == "Fibonacci" %>
      <%= render "pokers/cards/fibonacci"%>
    <%else%>
      <%= render "pokers/cards/fibonacci2040100"%>
    <% end %>
    
    <%= link_to 'Voltar', pokers_path(sala: @salaAtual), method: :get%>