<html>
  <head>
    <%= stylesheet_link_tag '_form', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <br>
    <% carta = "https://s-media-cache-ak0.pinimg.com/236x/3f/55/78/3f5578fc2b894931b22ddf02bb961c3f.jpg" %>
    <table border=0 bgcolor=#ebfafa width=200 height=200 >
      <tr>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 0.5 } ) , method: :post)%><h4>0.5</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 1 } ) , method: :post)%><h4>1</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 2 } ) , method: :post)%><h4>2</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 3 } ) , method: :post)%><h4>3</h4></td>
      </tr>
      <tr>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 5 } ) , method: :post)%><h4>5</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 8 } ) , method: :post)%><h4>8</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 13 } ) , method: :post)%><h4>13</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 20 } ) , method: :post)%><h4>20</h4></td>
      </tr>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 40 } ) , method: :post)%><h4>40</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:value => 99 } ) , method: :post)%><h4>99</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:name => 'Pausa' } ) , method: :post)%><h4>Pausa</h4></td>
        <td align=center><%= link_to_image(carta, pokers_create_path(:poker => {:name => 'Nao Entendi' } ) , method: :post)%><h4>Nao Entendi</h4></td>
    </table>
  </body>
</html>