<br>
<br>
<!-- Manter no Inicio -->
  <!--Carrega quantidade de cartas de cada tipo-->
  <%var05 = @pokers.where(value: 0.5).size%>
  <%var1 = @pokers.where(value: 1).size%>
  <%var2 = @pokers.where(value: 2).size%>
  <%var3 = @pokers.where(value: 3).size%>
  <%var5 = @pokers.where(value: 5).size%>
  <%var8 = @pokers.where(value: 8).size%>
  <%var13 = @pokers.where(value: 13).size%>
  <%var20 = @pokers.where(value: 20).size%>
  <%var40 = @pokers.where(value: 40).size%>
  <%var100 = @pokers.where(value: 100).size%>
  <%varPausa = @pokers.where(name: 'Pausa').size%>
  <%varNEnt = @pokers.where(name: 'Não Entendi').size%>
  <!-- Soma o número de cartas jogadas -->
  <% numCartas = var05+var1+var2+var3+var5+var8+var13+var20+var40+var100+varNEnt+varPausa %>
<!-- FIM Manter no Inicio -->



<!--Traz uma listagem de todas as cartas com respectivos usuários-->
<div style="width: 70%; color: black; float: center; margin-right: 0%; ">
  <div style="float: center; margin-right: 0; ">
    
    
    <% if @QuemJaJogou != nil && @playersRoom != nil && @QuemJaJogou.size > 0 && @playersRoom.size > 0 %>
      <br>
      <% @playersRoom.each do |jogadoresDaSala| %>
        <% if !@QuemJaJogou.include? jogadoresDaSala %>
          <div class="quemNaoJogou" ><%= jogadoresDaSala %></div>
        <% else %>
          <div class="quemJaJogou" >
            <%= jogadoresDaSala %>
            <% if numCartas >= @sala.players %>
              <%= @pokers.where(user: jogadoresDaSala).first.value %>
            <% else %>
              <%= "?" %>
            <% end %><!-- if numCartas >= @sala.players -->
          </div><!-- quemNaoJogou X quemJaJogou -->
        <% end %><!-- @QuemJaJogou.include? jogadoresDaSala -->
      <% end %><!-- @playersRoom.each -->
    <% end %><!-- if @QuemJaJogou != nil && @playersRoom != nil && @QuemJaJogou.size > 0 && @playersRoom.size > 0 -->
  
  <%# if @sala.playersname.size == 0 %>
    <% @QuemJaJogou.each do |jogadoresDaSala| %>
      <div class="quemJaJogou" >
        <%= jogadoresDaSala %>
        <% if numCartas >= @sala.players %>
          <%= @pokers.where(user: jogadoresDaSala).first.value %>
        <% else %>
          <%= "?" %>
        <% end %><!-- if numCartas >= @sala.players -->
      </div><!-- quemNaoJogou X quemJaJogou -->
    <% end %>
  <%# end %>
  
  </div><!-- style="margin-left: 20%; margin-right: 20%;" -->
</div><!-- style="color: black; float: right; margin-right: 20%; -->

<!-- Valida se pode mostrar as informações de acordo com o número de jogadores da sala -->
<% if numCartas > 0 && numCartas >= @sala.players %>
  
  <!--Calcula pontos totais para fazer a Média -->
  <% pontosTotais = ((var05*0.5)+(var1*1)+(var2*2)+(var3*3)+(var5*5)+(var8*8)+(var13*13)+(var20*20)+(var40*40)+(var100*100)) %>
  
  <!--Calcula a Moda das Cartas-->
  <% arrayDeCartas = Array(Poker.where(:room => @sala.id))%>
  <% arrayDeCartas[0].value %>
  <% arrayModa = Array.new%>
  <% for item in Array(Poker.where(:room => @sala.id))%>
  <% arrayModa << item.value%>
  <% end %>
  
  
  <br/><br/><br/><br/>

  
  <!-- Apresenta os resultados -->
  <div style=" width: 100%; ">
    <!-- Gráfico de Colunas -->
    <div style="margin-left: 16%; float: left;"> 
      <%= column_chart @chartdataValue , width: "400px", height: "300px", xtitle: "Carta", ytitle: "Quantidade"%> 
    </div>
    
    <!-- Tabela Num Cartas, Média e Moda -->
    <div style="margin-right: 16%; float: right;">
      <table>
        <tr>
          <th>Num Cartas</th>
          <th>Valor Médio</th>
          <th>Moda</th>
        </tr>
        <tr>
          <td><%= numCartas %></td>
          <td><%= (pontosTotais/numCartas).to_i %></td>
          <td><%= arrayModa.max_by { |i| arrayModa.count(i) } %></td>
        </tr>
      </table>
    </div>
    <br>
  </div>
  
<% end %>