<html>
  <head>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    
    <h3> Sala '<%= @sala.name %>'</h3>
    <h4 id="notice"><%= notice %></h4>
    <% salaAtual = @sala.id %>

    <!--Botões da Tela-->
    <%= link_to new_poker_path(sala: salaAtual), method: :get do %><i class="fa fa-play-circle"></i> Jogar<% end %>
    <%= link_to pokers_path(sala: salaAtual), remote: true do %><i class="fa fa-refresh"></i><% end %>
    <%= link_to poker_path(:id => 1, :sala => salaAtual), :method => :delete  do %><i class="fa fa-trash"></i><% end %>
    
      
      <!-- Resultado -->
      
      <center>
        <div id="resultadoCartas" ></div>
      </center>
  </body>
</html>