<html>
  <head>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>

    
    <h3> Sala '<%= @sala.name %>'</h3>
    
    <% if (@sala.refreshauto)%> <p style="font-size: 12px; color: green;">Refresh Automático</p> <% end %>
    
    
    <!--Botões da Tela-->
    <%= link_to new_poker_path(sala: @sala.id), method: :get do %><i class="fa fa-play-circle"></i> Jogar<% end %>
    <%= link_to pokers_path(sala: @sala.id), :class => "atualiza" , remote: true do %><i class="fa fa-refresh"></i><% end %>
    <%= link_to poker_path(:id => 1, :sala => @sala.id), :method => :delete  do %><i class="fa fa-trash"></i><% end %>
    
    <br/>

      <% if @sala.refreshauto %>
        <script>
        
        setInterval(function() {
          document.getElementsByClassName("atualiza")[0].click();
        }, 3000);
        
        
        </script>
      <% end %>
      
      <!-- Resultado -->
      
      <center>
        <div id="resultadoCartas" ></div>
      </center>
  </body>
</html>