
<h1>Planning Poker</h1>

<p id="notice"><%= notice %></p>

<% if @pokers.size > 99%>
<table>
  <thead>
    <tr>
      <th>Pontos</th>
      <th>Apagar</th>
    </tr>
  </thead>
  <tbody>
      <% @pokers.each do |poker| %>
        <tr>
          <td><%= poker.name || poker.value %></td>
          <td><%= button_to 'Apagar Tudo', poker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<% end %>

<%pokerDelete = Poker.new(:value => 534, :name =>'AAAAAAAAAAAAAAAAaa')%>
<p><%pokerDelete.value%></p>
<p><%pokerDelete.name%></p>
<% pokerDelete.save %>


<table>
<td><%= button_to 'Jogar',  new_poker_path, method: :get%></td>
<td><%= button_to 'Atualizar', pokers_path, method: :get%></td>
<td><%= button_to 'Apagar Tudo', pokerDelete, method: :delete, data: { confirm: 'Deseja Reiniciar?' } %></td>
</table>

<%var05 = @pokers.where(value: 0.5).size%>
<%var1 = @pokers.where(value: 1).size%>
<%var2 = @pokers.where(value: 2).size%>
<%var3 = @pokers.where(value: 3).size%>
<%var5 = @pokers.where(value: 5).size%>
<%var8 = @pokers.where(value: 8).size%>
<%var13 = @pokers.where(value: 13).size%>
<%var20 = @pokers.where(value: 20).size%>
<%var40 = @pokers.where(value: 40).size%>
<%var99 = @pokers.where(value: 99).size%>
<%varPausa = @pokers.where(name: 'Pausa').size%>
<%varNEnt = @pokers.where(name: 'Nao Entendi').size%>

<%if var05 > 0%>
<p>Quantidade de 0.5: <%= var05 %></p>
<% end %>
<%if var1 > 0%>
<p>Quantidade de 1: <%= var1 %></p>
<% end %>
<%if var2 > 0%>
<p>Quantidade de 2: <%= var2 %></p>
<% end %>
<%if var3 > 0%>
<p>Quantidade de 3: <%= var3 %></p>
<% end %>
<%if var5 > 0%>
<p>Quantidade de 5: <%= var5 %><p>
<% end %>
<%if var8 > 0%>
<p>Quantidade de 8: <%= var8 %><p>
<% end %>
<%if var13 > 0%>
<p>Quantidade de 13: <%= var13 %><p>
<% end %>
<%if var20 > 0%>
<p>Quantidade de 20: <%= var20 %><p>
<% end %>
<%if var40 > 0%>
<p>Quantidade de 40: <%= var40 %><p>
<% end %>
<%if var99 > 0%>
<p>Quantidade de 99: <%= var99 %><p>
<% end %>
<%if varPausa > 0%>
<p>Quantidade de Pausa: <%= varPausa %><p>
<% end %>
<%if varNEnt > 0%>
<p>Quantidade de Nao Entendi: <%= varNEnt %><p>
<% end %>