<html>
  <head>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    
    <h3>Planning Poker - Sala '<%= @sala_nome %>'</h3>
    <h4 id="notice"><%= notice %></h4>
    <% salaAtual = @sala%>

    <!--Botões da Tela-->
    <%= link_to 'Jogar',  new_poker_path(sala: salaAtual), method: :get%>
    <%= link_to 'Atualizar', pokers_path(sala: salaAtual), remote: true %>
    <%= link_to 'Reiniciar', poker_path(:id => 1, :sala => salaAtual), :method => :delete, data: { confirm: 'Deseja Reiniciar?' }  %>
    
      
      <!-- Resultado -->
      <div id="resultadoCartas" ></div>

  </body>
</html>