<!DOCTYPE html>
<html>
  <head>
    <title>TechPoker</title>
    <%= favicon_link_tag 'icon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'notifyjs/notify', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <%= yield %>
  
    <br>
    <br>
    <br>
  
    <h2>
      <div id="user-widgetLogout">
        <% if current_user %>
          <%= link_to "Sair", signout_path, id: "sign_out" %><br>
          <%= current_user.name.to_s.force_encoding("UTF-8") %>
        <% end %>
      </div>
    </h2>
  
  </body>
  <footer>
    <!-- by gmascb-->
  </footer>
</html>
