    <% carta0 = "cardFibonacci/card0.jpg" %>
    <% carta1 = "cardFibonacci/card1.jpg" %>
    <% carta2 = "cardFibonacci/card2.jpg" %>
    <% carta3 = "cardFibonacci/card3.jpg" %>
    <% carta5 = "cardFibonacci/card5.jpg" %>
    <% carta8 = "cardFibonacci/card8.jpg" %>
    <% carta13 = "cardFibonacci/card13.jpg" %>
    <% carta21 = "cardFibonacci/card21.jpg" %>
    <% carta34 = "cardFibonacci/card34.jpg" %>
    <% carta55 = "cardFibonacci/card55.jpg" %>
    <% carta89 = "cardFibonacci/card89.jpg" %>
    <% cartainf = "cardFibonacci/cardinf.jpg" %>
    <% cartaCoffee = "cardFibonacci/cardcoffee.jpg" %>
    <% cartaNEntendi = "cardFibonacci/cardnentendi.jpg" %>
    
    <% if !current_user %>
      <% usuario = 'Sem Usuário' %>
    <% else %>
      <% usuario = current_user.name.to_s.force_encoding("UTF-8") %>
    <%end%>
    <div style="display: flex; justify-content: center;">
      <div class="div-table">
        <div class="div-table-row">
          <div class="cardpoker div-table-col" ><%= link_to_image(carta0, pokers_create_path(:poker => {:value => 0.5, :user => usuario, :room => @sala_atual }, sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta1, pokers_create_path(:poker => {:value => 1, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta2, pokers_create_path(:poker => {:value => 2, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta3, pokers_create_path(:poker => {:value => 3, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
        </div>
        <div class="rTableRow">
          <div class="cardpoker div-table-col" ><%= link_to_image(carta5, pokers_create_path(:poker => {:value => 5, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta8, pokers_create_path(:poker => {:value => 8, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta13, pokers_create_path(:poker => {:value => 13, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta21, pokers_create_path(:poker => {:value => 21, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
        </div>
        <div class="rTableRow">
          <div class="cardpoker div-table-col" ><%= link_to_image(carta34, pokers_create_path(:poker => {:value => 34, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta55, pokers_create_path(:poker => {:value => 55, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(carta89, pokers_create_path(:poker => {:value => 89, :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class="cardpoker div-table-col" ><%= link_to_image(cartainf, pokers_create_path(:poker => {:name => 'Infinito - Epico', :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
        </div>
        <div class="rTableRow">
          <div class= "div-table-col cardNEntendi"><%= link_to_image(cartaNEntendi, pokers_create_path(:poker => {:name => 'Não Entendi', :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
          <div class= "div-table-col cardPausa" ><%= link_to_image(cartaCoffee, pokers_create_path(:poker => {:name => 'Pausa', :user => usuario, :room => @sala_atual} , sala: @sala_atual) , method: :post)%></div>
        </div>
      </div>
    </div>